body{
    background-color:#f9f9f9;
    font-family: Arial,Helvetica,sans-serif;
    font: 14px/1.5 Tahoma,Arial,"Hiragino Sans GB","微软雅黑",sans-serif;
}
main{
    height:480px;
    position:relative;
    background-color:#fff;
    .box{
        position:absolute;
        width:1263px;
        height:480px;
    }
}
nav{
    .index-brand {
        margin: 18px 0 0 240px;
        width: 860px;
        height: 105px;
        background: #fff;
        line-height:100px;
        h3 {
            padding: 0 27px;
            zoom: 1;
            font-size: 14px;
            color: #444;
        }
        img {
            margin: 0 12px;
            width: 94px;
            position: relative;
            top: 20px;
        }
        >*{
            display: inline-block;
            vertical-align: middle;
        }
    }
    .js_newPer_bar{
        margin-top:10px;
    }
    .mod-qhh{
        margin-top:25px;
        h3{
            font-size: 24px;
            color: #222;
            span{
                margin-left: 18px;
                vertical-align: -1px;
                font-weight: 400;
                font-size: 18px;
                color: #999;
            }
        }
        .layout{
            .groupblock:hover .tit{
                color:#fa4b9b;
            }
            .groupblock:hover .buy{
                color:#666;
            }
            .gds-img{
                position:relative;
                img{
                    width:100%;
                    vertical-align: top;
                }
            }
            .rim{
                min-height: 45px;
                height: auto!important;
                position: relative;
                padding: 15px 15px 65px 15px;
                .tit{
                    height: 18px;
                    font-size: 12px;
                    color: #222;
                    line-height: 1.5;
                    font-weight: 700;
                }
                .desc{
                    font-size: 12px;
                    color: #555;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .price{
                    bottom:13px;
                    margin-top: 8px;
                    position: absolute;
                    left: 15px;
                    .new{
                        display: block;
                        margin-bottom: 5px;
                        color: #ff4a49;
                        em{
                            font-size:20px;
                            color:#ff4a49;
                        }
                    }
                    .old{
                        display: block;
                        color: #555;
                        text-decoration: none;
                        font-size:12px;
                        em{
                            text-decoration: line-through;
                            color: #555;
                        }
                    }
                   
                }
                .buy{
                    position: absolute;
                    bottom: 10px;
                    right: 15px;
                    font-size:12px;
                }
                .btn{
                   border-radius: 15px;
                   position: absolute;
                   right: 15px;
                   bottom: 30px;
                   padding: 0 15px;
                   height: 28px;
                   line-height: 28px;
                   background-color: #ff4a49;
                   font-size: 12px;
                   color: #fff;
                }
            }
            margin-top:20px;
            >a{
                float: left;
                margin-right: -1px;
                width: 219px;
                border: 1px solid #e5e5e5;
                background-color: #fff;
                margin-top: -1px;
            }
        }
    }
}