.mainHeader { height: 138px; position: relative; }

.mainHeader .w1000 { background: 0 0; }

.mainHeader .w1000 .logo { width: 546px; float: left; }

.mainHeader .w1000 .right { float: left; width: 454px; height: 80px; }

.mainHeader .w1000 .right .sechedule { width: 435px; height: 42px; float: right; margin-top: 30px; line-height: 42px; background: url(../img/car.png) no-repeat; font-family: \5B8B\4F53; }

.mainHeader .w1000 .right .sechedule .white { color: #fff; }

.mainHeader .w1000 .right .sechedule li { float: left; width: 144px; padding-left: 0; color: #666; text-align: center; }

.myShoppingCar { width: 1000px; margin: 0 auto; background: #fff; }

.myShoppingCar .empty { height: 80px; padding: 80px 50px; padding-left: 230px; }

.myShoppingCar .empty .pb20 { font-size: 30px; padding-bottom: 20px; color: #ccc; font-family: \5FAE\8F6F\96C5\9ED1; }

.myShoppingCar .empty a { color: #f450a2; font-size: 14px; font-weight: 700; }

.c_wrap { width: 1000px; margin: 0 auto; }

.c_wrap .c_title { border-bottom: 2px solid #eaeaea; border-top: none; padding: 10px 0px; margin-left: 10px; margin-right: 10px; background-color: #fff; }

.c_wrap .c_title span { border-bottom: 2px solid #fa4b9b; padding-bottom: 10px; padding-right: 10px; color: #333; font-size: 24px; font-family: \5FAE\8F6F\96C5\9ED1; }

.c_wrap .c_menu { overflow: hidden; background: #fff; padding: 15px; }

.c_wrap .c_menu .ci0 { width: 87px; text-align: left !important; margin-left: 27px; }

.c_wrap .c_menu .ci { float: left; text-align: center; padding: 2px 0; }

.c_wrap .c_menu .ci1 { width: 280px; }

.c_wrap .c_menu .ci2 { width: 113px; border-left: 1px solid #ddd; }

.c_wrap .c_menu .ci3 { width: 113px; border-left: 1px solid #ddd; }

.c_wrap .c_menu .ci4 { width: 113px; border-left: 1px solid #ddd; }

.c_wrap .c_menu .ci5 { width: 113px; border-left: 1px solid #ddd; }

.c_wrap .c_menu .ci6 { width: 113px; border-left: 1px solid #ddd; }

.c_wrap .c_list { background: #fff; padding: 0 15px; overflow: inherit; }

.c_wrap .c_list .cl_con { margin-bottom: 0px; border: 1px solid #ededed; }

.c_wrap .c_list .cl_con .cl_items { background: #fff; }

.c_wrap .c_list .cl_con .cl_items .gooditem { list-style: none; position: relative; margin: 13px; padding: 12px 0 12px 14px; }

.c_wrap .c_list .cl_con .cl_items .gooditem .it_mck { width: 50px; }

.c_wrap .c_list .cl_con .cl_items .gooditem .it_mck input { height: 20px; }

.c_wrap .c_list .cl_con .cl_items .gooditem .it_img { border: 1px solid #ddd; margin-right: 15px; position: relative; }

.c_wrap .c_list .cl_con .cl_items .gooditem .it_img img { width: 77px; }

.c_wrap .c_list .cl_con .cl_items .gooditem .it_name { width: 240px; line-height: 16px; }

.c_wrap .c_list .cl_con .cl_items .gooditem .it_price { width: 115px; text-align: center; margin-top: 3px; }

.c_wrap .c_list .cl_con .cl_items .gooditem .it_price .price { margin-top: 10px; color: #999; text-decoration: line-through; }

.c_wrap .c_list .cl_con .cl_items .gooditem .it_total { width: 115px; text-align: center; margin-top: 3px; color: #ff69b4; }

.c_wrap .c_list .cl_con .cl_items .gooditem .it_remove { text-align: center; margin-top: 3px; margin-left: 30px; width: 48px; }

.c_wrap .c_list .cl_con .cl_items .gooditem .it_size { width: 115px; margin-top: 3px; line-height: 16px; text-align: center; color: #999; word-break: break-all; }

.c_wrap .c_list .cl_con .cl_items .gooditem .it_num { width: 115px; text-align: center; margin-top: 3px; position: relative; height: 22px; line-height: 22px; border: 1px solid #e2e2e2; margin: 0 auto; width: 75px; background-color: #fff; }

.c_wrap .c_list .cl_con .cl_items .gooditem .it_num .it_jian { width: 22px; height: 22px; display: inline-block; cursor: pointer; float: left; border-right: 1px solid #e2e2e2; }

.c_wrap .c_list .cl_con .cl_items .gooditem .it_num .car_num { background-color: #FFF; line-height: 22px; text-align: center; width: 28px; height: 22px; float: left; overflow: hidden; border: 0 none; }

.c_wrap .c_list .cl_con .cl_items .gooditem .it_num .it_jia { width: 22px; height: 22px; display: inline-block; cursor: pointer; float: left; border-left: 1px solid #e2e2e2; }

.c_wrap .c_list .cl_con .cl_items .gooditem > div { float: left; }

.c_wrap .c_list .cl_con .cl_tit { position: relative; overflow: visible; padding-left: 20px; padding: 14px 26px; background: #fafafa; line-height: 20px; }

.c_wrap .c_list .cl_con .cl_tit .cl_wordsNew { margin-left: 5px; margin-top: 4px !important; font-size: 18px; color: #333; font-family: 'Microsoft YaHei'; }

.c_wrap .c_countn { background: #fff; border: 1px solid #ddd; border-right: none; height: 58px; margin: 50px 15px 0; position: fixed; background-color: #fff; z-index: 9; bottom: 0; width: 970px; }

body { background: #fff; }
